*  { 
    margin: 0;
    padding: 0; 
}


body    {
    /* background-image: url(../img/BG-Image.jpg); */
    /* background-position: center; */
    background-color: #ededed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper   {
    margin: 0 auto;
    width: 1240px;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(56, 56, 56, 0.459);
    /* border-radius: 0px 0px 100px 100px; */

}

#header {
    display: flex;
    /* width: 100%; */
    height: 70px;
    background-color: #242424;
    align-items: center;
    gap: 400px;
}

#logo   {
    margin-left: 50px;
}

#frame-slide   {
    margin-top: -5px;
    margin-right: 50px;
    width: 600px;
    height: 35px;
    background-color: #ededed;
    border-radius: 10px;
}

#slider-clip {
    position: absolute;
    clip: rect(0px,600px,35px,0px);
    
}

#slider-animation {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    animation-name: slider1;
    animation-duration: 20s;
    animation-timing-function:linear;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    
}

@keyframes slider1 {
    from {margin-left:0px}
    to{margin-left: -600px;}
}

#slider-animation:hover{
    animation-play-state: paused;
}

#logo-partner {
    display: flex;
    gap: 30px;  
}

#logo-partner2 {
    display: flex;
    gap: 30px;    
}


#logo-partner   li   {
    list-style: none;
}

#logo-partner2   li   {
    list-style: none;
}

/* Header Stop */




/*nav menu bar */

#frame-menu {
    position: relative;
    float: left;
    margin-bottom: -50px;
    width: 100%;
    height: 50px;
    z-index: 9;
}
#nav-menu   {
    position: relative;
    width: 600px;
    height: 50px;
    float: right;  
    
}

#nav-menu ul  {
    /* margin-left: 20px; */
    display: flex;
    /* gap: 60px; */
    justify-content: center;
    

}

#nav-menu ul li {
    display: grid;
    list-style: none;
    align-items: center;
}

#nav-menu ul li a{
    list-style-type: none;
    text-decoration: none;
    font-family: "Barlow Semi Condensed", sans-serif;
    color: #ededed;
    font-weight: normal;
    font-size: 16px;
}

/* background nav-menu */
.nav1   {
    width: 150px;
    height: 50px;
    /* background-color: #242424; */
    border-radius: 0px 0px 20px 20px;
}
.nav2   {
    width: 150px;
    height: 50px;
    background-color: #242424;
    border-radius: 0px 0px 20px 20px;
}
.nav3   {
    width: 150px;
    height: 50px;
    /* background-color: #242424; */
    border-radius: 0px 0px 20px 20px;
}
.nav4   {
    width: 150px;
    height: 50px;
    /* background-color: #242424; */
    border-radius: 0px 0px 20px 20px;
}
/* background nav-menu stop*/

/* hover nav */

.nav1:hover {
    background-color: #24242480;
}
/* .nav2:hover {
    background-color: #24242438;
} */
.nav3:hover {
    background-color: #24242480;
}
.nav4:hover {
    background-color: #24242480;
}
/* center nav-menu */
.nav1 a{
    display: flex;
    justify-content: center;
}

.nav2 a{
    display: flex;
    justify-content: center;  
}

.nav3 a{
    display: flex;
    justify-content: center;
}

.nav4 a{
    display: flex;
    justify-content: center;
}
/* center nav-menu stop*/



/* maps-image-dragable */


#maps-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 600px;
    padding-bottom: 100px;
}

.overlay-radius {
    /* position: absolute; */
    margin-top: 500px;
    width: 1240px;
    height: 200px;
    z-index: 2;
    /* background-color: #ffffff; */
}

#frame-dragable-image-fairhall  {
    display: flex;
    flex-direction: column;
    width: 1240px;
    height: 600px;
    padding: 0;
    background-color: #ffffff;
    border-radius: 0px 0px 100px 100px;
    align-items: center;
    position: absolute;
    clip: rect(0px,1240px,600px,0px);
    
}

#dragable-image {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    /* re-position image */
    
}

#dragable-image img {
    position: relative;
    z-index: 0;
    transition: 1s;
}


/* button-maps */

#button-maps    {
    display: flex;
    position: absolute;
    z-index: 2;
    justify-content: center;
    width: 110px;
    height: 170px;
    background-color: #242424;
    box-shadow: 0px 0px 8px #242424c4;
    border-radius: 30px;
    margin: 0;
    padding: 0;
    right: 50px;
    bottom: 100px;
}

#arrow  {
    display: inherit;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    background-color: #242424;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.322);
    top: 20px;
}

#vertical  {
    position: absolute;
    display: inherit;
    flex-direction: column;
    gap: 28px;
}

#horizontal {
    margin-top: 2px;
    position: absolute;
    display: inherit;
    gap: 37px;   
}

/* hover arrow */

#arrow:hover    {
    box-shadow: 0px 0px 5px #92babac7;
}

.up a{
    opacity: 50%;
}
.up a:hover{
    opacity: 100%;
}

.down a{
    opacity: 50%;
}
.down a:hover{
    opacity: 100%;
}

.left a{
    opacity: 50%;
}
.left a:hover{
    opacity: 100%;
}

.right a{
    opacity: 50%;
}
.right a:hover{
    opacity: 100%;
}

/* buttom-zoom */
#zoom-control   {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    z-index: 2;
    bottom: 25px;
}

.zoomOut    {
    display: inherit;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #242424;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.322);
    border-radius: 10px;
}

.zoomOut a  {
    margin-top: 2px;
    padding: 0 7px;
    opacity: 50%;
}

.zoomIn    {
    display: inherit;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #242424;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.322);
    border-radius: 10px;
}

.zoomIn a  {
    margin-top: 2px;
    padding: 5px 7px;
    opacity: 50%;
}


/* zoom button hover */

.zoomOut:hover    {
    box-shadow: 0px 0px 5px #92babac7;
}
.zoomIn:hover    {
    box-shadow: 0px 0px 5px #92babac7;
}

.zoomOut a:hover   {
    opacity: 100%;
}
.zoomIn a:hover   {
    opacity: 100%;
}





/* expand content */
.about-fairhall  {
    width: 80%;
    margin: 0px 100px 100px 100px;
    color: #777777;
}

.about-fairhall h3   {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-size: 28px;

}

.about-fairhall p    {
    font-family: "barlow", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 26px;
    font-stretch: semi-expanded;
}

.footer {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    background-color: #242424d0;
}

.footer h5  {
    margin: 100px;
    color: lavender;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 12px;
    font-weight: lighter;
}
