/* partner booth layout */

#partner-booth  {
    position: absolute;
    display: inherit;
    flex-direction: column;
    z-index: 1;
    top: 105px;
    left: 940px;
    gap: 0px;
}

.column1    {
    display: inherit;
    gap: 0px;
}
.column2    {
    display: inherit;
    gap: 5px;
    margin-top: -80px;
    margin-left: -180px;
}
.column3    {
    display: inherit;
    gap: 20px;
    margin-top: -60px;
    margin-left: -370px;
}
.column4    {
    display: inherit;
    gap: 20px;
    margin-top: -75px;
    margin-left: -610px;
}


/* partner booth prespektif re-position*/


/* column1-start */
.booth1 {
    margin: 0;
}
.booth2 {
    margin-top: 20px;
    margin-left: 0px;
}
.booth3 {
    margin-top: 45px;
    margin-left: 0px;
}
.booth4 {
    margin-top: 75px;
    margin-left: 0px;
}
.booth5 {
    margin-top: 170px;
    margin-left: -50px;
}
.booth6 {
    margin-top: 110px;
    margin-left: 0px;
}
.booth7 {
    margin-top: 135px;
    margin-left: 0px;
}
.booth8 {
    margin-top: 160px;
    margin-left: 0px;
}
/* column1-stop */

/* column2-start */
.booth9 {
    margin-top: 0px;
    margin-left: 0px;
}
.booth10 {
    margin-top: 20px;
    margin-left: 0px;
}
.booth11    {
    margin-top: 50px;
    margin-left: -20px;
}
.booth12    {
    margin-top: 75px;
    margin-left: -20px;
}
.booth13   {
    margin-top: 100px;
    margin-left: -20px;
} 
.booth14    {
    margin-top: 125px;
    margin-left: -10px;
}
.booth15    {
    margin-top: 150px;
    margin-left: -10p
}
.booth16    {
    margin-top: 185px;
    margin-left: 10px;
}
/* column2-stop */

/* column3-start */
.booth17    {
    margin-top: 0px;
    margin-left: 0px;
}
.booth18    {
    margin-top: 35px;
    margin-left: 0px;
}
.booth19    {
    margin-top: 70px;
    margin-left: -15px;
}
.booth20    {
    margin-top: 110px;
    margin-left: -10px;
}
.booth21    {
    margin-top: 150px;
    margin-left: 0px;
}
.booth22    {
    margin-top: 195px;
    margin-left: 10px;
}
.booth23    {
    margin-top: 240px;
    margin-left: 0px;
}

/* column3-stop */

/* column4-start */
.booth24   {
    margin-top: 0px;
    margin-left: 0px;
} 
.booth25    {
    margin-top: 45px;
    margin-left: -10px;
}
.booth26    {
    margin-top: 80px;
    margin-left: -20px;
} 
.booth27    {
    margin-top: 210px;
    margin-left: -60px;
} 
.booth28    {
    margin-top: 155px;
    margin-left: 10px;
} 
.booth29    {
    margin-top: 210px;
    margin-left: 0px;
} 
.booth30    {
    margin-top: 255px;
    margin-left: 0px;
} 
.booth31    {
    margin-top: 300px;
    margin-left: 0px;
} 
.booth32    {
    margin-top: 350px;
    margin-left: 20px;
} 

/* column4-stop */